{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <div class="app-c-back-link-inverse">
    <a class="govuk-back-link" href="/">Back</a>
  </div>
{% endblock %}

{% block content %}

      <header class=" app-c-inverse-header app-c-inverse-header--full-width app-c-inverse-header--padding-top">
        <h1 class="govuk-heading-xl app-c-title--inverse">
          {{ title }}
        </h1>

        <p class="govuk-body-l app-c-lead-paragraph--inverse">{{ description }}</p>

        <h2 class="govuk-heading-l app-c-title--inverse">Featured links</h2>
        <ol class="govuk-list govuk-list--bullet app-c-list-inverse">
        {% for feature in featured %}
          <li><a href="{{feature.link}}" class="govuk-link">{{feature.title}}</a></li>
        {% endfor %}
        </ol>

      </header>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      {% set topicsHtml %}
        {% for topic in subtopics %}
          <h2 class="govuk-heading-l">{{ topic.title }}</h2>
          {{ govukAccordion(topic.subtopic_sections) }}
        {% endfor %}
      {% endset -%}

      {% set governmentHtml %}
      <h2 class="govuk-heading-l">Latest news</h2>
      <p class="govuk-body">News and communications about visas and immigration</p>

      {% endset -%}


      {{ govukTabs({
        items: [
          {
            label: "Topics",
            id: "topics",
            panel: {
              html: topicsHtml
            }
          },
          {
            label: "Government activity",
            id: "government-activity",
            panel: {
              html: governmentHtml
            }
          }
        ]
      }) }}
    </div>
  </div>

{% endblock %}
