{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ topicSlug }}
      </h1>

      <p>This is a paragraph of text. It explains in more detail what has happened and wraps across several lines.</p>

      <p>This paragraph has a link to <a href="/url/of/onward/page">find out more about this subject</a>.</p>

      {% set topicsHtml %}
      {{ govukAccordion({
        id: "accordion-default",
        items: topics
      }) }}
      {% endset -%}

      {% set governmentHtml %}
      <h2 class="govuk-heading-l">Latest news</h2>
      <p class="govuk-body">News and communications about visas and immigration</p>

      {% endset -%}


      {{ govukTabs({
        items: [
          {
            label: "Topics",
            id: "topics",
            panel: {
              html: topicsHtml
            }
          },
          {
            label: "Government activity",
            id: "government-activity",
            panel: {
              html: governmentHtml
            }
          }
        ]
      }) }}
    </div>
  </div>

{% endblock %}
